body
    {
        background-color:whitesmoke;
    }

/*头部边框*/
div.headborder
{
    background-image: 
    url("../image/hjl1.jpg");
    background-repeat: no-repeat;
    background-position: top center; 
    background-attachment:fixed;
    width:100%;
    height:83%;
    position:absolute;
    left:0px;
    top:0px;
}

div.headphoto
{
    height:90%;
    width:100%;
    display:none;
    background-image:url("../image/hiMoeNya.png");
    background-size:70% auto;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position-y:center;
    background-position-x:center;
    position:absolute;
    left:center;
}
/*---*/
/*导航框*/
div.NavigationBar
{
    width:100%;
    height:auto;
    background: rgba(0, 0, 0, 0.555); 
    margin:0px;
    padding:0px;
    position:absolute;
    left:0px;
    top:0px;
}
/*---*/
/*一级导航栏*/
.ul1
{
    display:block;
    width:100%;
    list-style:none;
    margin-top:0px;
    margin-left:0.5%;
    padding:0px;
    margin:0px;
}

.li1
{
    display:inline-block;
    width:auto;
    margin:0px 1.5%;
    padding:0px;
}

.li1 a:hover
{
    background: rgba(128, 128, 128, 0.644);
}

.a1:link,.a1:visited
{
    text-decoration:none;
    color:white;
    font-weight:bold;
    background:transparent;
    width:100%;
    height:50px;
    text-align:center;
    margin-left:auto;
    margin-top:auto;
    display:block;
    font-size:20px;
    line-height:67px;
}

.a2:link,.a2:visited
{
    text-decoration:none;
    color:white;
    font-weight:bold;
    background:transparent;
    width:100%;
    height:50px;
    text-align:center;
    margin-left:auto;
    margin-top:auto;
    padding-top:auto;
    display:block;
    font-size:30px;
    line-height:60px;
}
/*----*/
/*二级导航栏*/
.ul2
{
    display:none;
    width:auto;
    list-style:none;
    margin-top:0px;
    margin-left:0px;
    padding:0px;
    margin:0px;
    position: absolute;
    top: auto;
    font-size: 15px;
}

.a3:hover
{
    background: rgba(128, 128, 128, 0.644);
}

.a3:link,.a3:visited
{
    text-decoration:none;
    color:white;
    font-weight:bold;
    background:rgba(0, 0, 0, 0.555);
    width:100%;
    height:50px;
    text-align:center;
    display:block;
    margin-left:auto;
    margin-top:auto;
    font-size:15px;
    line-height:67px;
}
/*----*/