/* 移动端优化 */
@media screen and (max-width: 952px)
{
    .midimfor
    {
        display:none;
    }
}
/* 移动端优化 */

div.main
{
    width:100%;
    height:auto;
    margin:0px;
    padding:0px;
    position: absolute;
    top:84%;
    left:0px;
}

div.midimfor
{
    height:auto;
    width:320px;
    margin:0px;
    padding:0px;
    box-shadow: 4px 4px 3px #888888;
    background-color:white;
    border-radius: 6px;
    float:right;
    position:relative;
    top:15px;
    right:5%;
}

div.myimformation
{
    height:120px;
    width:320px;
    margin:0px;
    padding:0px;
    background-color:white;
    border-radius: 6px;
    float:right;
    position:relative;
    top:1px;
}

div.head
{
    height:70px;
    width:70px;
    background-image:url("../image/head.jpg");
    background-size: cover;
    border-radius:50%;
    position:absolute;
    top:10%;
    left:37.5%;
}
div.talk
{
    height:auto;
    width:auto;
    text-align:center;
    position:relative;
    top:60%;
}

div.midAboutMe
{
    height:30px;
    width:320px;
    margin:0px;
    padding:0px;
    background-color:white;
    border-width:0 0 1px 0;
    border-color: #363636;
    float:right;
    position:relative;
    top:1px;
}

.midAboutMeStyle
{
    height:30px;
    width:30px; 
    background-image: url("../image/QQ.png");
    background-size: cover;
    position:absolute;
    top:1px;
    left:90px;
}

.midAboutMeStyle2
{
    height:30px;
    width:30px; 
    background-image: url("../image/bilibili.png");
    background-size: cover;
    position:absolute;
    top:1px;
    left:90px;
}

.midAboutMeStyle3
{
    height:30px;
    width:30px; 
    background-image: url("../image/github.png");
    background-size: cover;
    position:absolute;
    top:1px;
    left:90px;
}

.midAboutMeStyle4
{
    height:30px;
    width:30px; 
    background-image: url("../image/twitter.png");
    background-size: cover;
    position:absolute;
    top:1px;
    left:90px;
}

.a4:link,.a4:visited,.a4
{
    height:auto;
    width:auto;
    text-decoration:none;
    color:black;
    font-weight:bold;
    text-align: center;
    display:block;
    margin:0px;
    padding-top:6px;
    font-size:15px;
    position: absolute;
    left:130px;
}