body
{
    background-image: 
    url(../image/aboutmebackground.jpg);
    background-repeat: repeat;
}

div.writebox
{
    width:100%;
    height:500px;
    margin:0px;
    padding:0px;
    position: absolute;
    top:40%;
    left:0;
}

.writebox h1,p
{
    text-align: center;
}